.list {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
}

.dd-list {
  font-size: 20px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  min-width: 250px;
  padding-left: 0;
}

.list-item {
  background-color: white;
  border: 1px solid #9f9898;
  border-top-style: none;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
}

.list-item-selected {
  background-color: #1da0d8;
  border-bottom-color: #3388b0;
  color: white;
}

.list-top {
    background-color: white;
    border: 1px solid #9f9898;
    border-bottom-style: none;
    height: 3px;
    margin: auto;
    margin-top: 5px;
    min-width: 250px;
    padding: 0;
    position: relative;
}

.list-top::after,
.list-top::before {
    border-style: solid;
    content: '';
    display: flex;
    height: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 0;
}
.list-top::after {
    border-color: transparent transparent white transparent ;
    border-width: 10px;
    top: -20px;
}
.list-top::before {
    border-color: transparent transparent #9f9898 transparent ;
    border-width: 11px;
    top: -22px;
}
