.dd-wrapper {
  display: inline-block;
  min-width: 250px;
  position: relative;
}

.dd-button {
  background-color: white;
  border: 1px solid #9f9898;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
}

.option-selected {
  background-color: #1da0d8;
  border-color: #3388b0;
  color: white;
}

.title {
  height: 1.2em;
  margin-bottom: auto;
  margin-top: auto;
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtitle {
  font-size: 15px;
  font-weight: 200;
  margin-bottom: auto;
}
